<section>
<article class="logo">
    <img src="../../../../assets/Captura de pantalla 2023-06-22 100644.png" alt="Logo Shopeame">
</article>
<nav class="login">
    <div class="container">
        <a routerLink="/login">Login</a>
    </div>
    <div class="container">
        <a routerLink="/register">Register</a>
    </div>
</nav>
<article class="menu">
    <nav>
        <div class="container">
            <img src="../../../../assets/home.png" alt="Home" class="icono">
            <a routerLink="/">Home</a>
        </div>
        <div class="container">
            <img src="../../../../assets/products.png" alt="Productos" class="icono">
            <a routerLink="/products">Productos</a>
        </div>
        <div class="container">
            <img src="../../../../assets/addproducts.png" alt="Añadir productos" class="icono">
            <a routerLink="/add">Añadir productos</a>
        </div>
    </nav>
</article>
</section>